<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Analytics.Common\packages.config" />
  <repository path="..\src\Analytics.Console.App\packages.config" />
  <repository path="..\src\Analytics.Data.SqlServer\packages.config" />
  <repository path="..\src\Analytics.Web.Api\packages.config" />
  <repository path="..\src\Analytics.Web.Common\packages.config" />
</repositories>